.hero{
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dumbbell{
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

.hero-text h2{
    margin: 0;
    font-size: 6rem;
    font-weight: 700;
    font-family: var(--inter);
    letter-spacing: -0.2rem;
}
.hero-text p {
    width: 75%;
}

.hero-text button{
    all: unset;
    background-color: var(--purple);
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-weight: 400;
    font-family: var(--inter);
    text-transform: uppercase;
}


.img{
    background-image: url("../../assets/images/main.png");
    background-size: cover;
    background-position: center;
    width: 38rem;
    height: 36rem;
    margin-right: 3rem;
    position: relative;
}
.lines{
    background-image: url("../../assets/images/lines.png");
    background-size: cover;
    background-position: center;
    width: 38rem;
    height: 36rem;
    margin-right: 3rem;
    position: absolute;
    top: 4rem;
    z-index: -1;
}
.icon{
    font-size: 1.5rem;
    background-color: var(--seaGreen);
    padding: 0.5rem;
    border-radius: 50px;
    font-weight: 600;
    color: var(--black);
}
.gradient1, .gradient2, .gradient3, .gradient4{
    height: 15rem;
    width: 35rem;
    border-radius: 20rem;
    filter: blur(90px);
    position: absolute;
    z-index: -1;
}
.gradient1{
    background-color: var(--seaGreen);
    top: 1rem;
    left: 1rem;
    width: 15rem;
}
.gradient2{
    top: 20rem;
    left: 50rem;
    background-color: var(--purple);
    z-index: -1;
}
.gradient3{
    bottom: 5rem;
    right: 5rem;
    width: 30rem;
    background-color: var(--seaGreen);
}
.gradient4{
    top: 15rem;
    right: 5rem;
    background-color: var(--purple);
}