.app{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 30rem;
    width: 20rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px  1px var(--black);
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
}
.display{
    height: 5rem;
    width: 19rem;
    border-radius: 10px;
    margin: 0.5rem;
    background-color: var(--black);
}
.clear-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    margin: 0.5rem;
}
.clear-btns div{
    background-color: var(--purple);
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.num-cal-btns{
    display: flex;
}
.number-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    flex: 1;
}
.calc-btns{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.number-btns, .calc-btns{
    background-color: var(--seaGreen);
    padding: 1rem;
}