<div class="app">
  <div class="input-result">
    <app-input *ngFor="let n of inputArray(15); let i = index"
               />
  </div>
  <div class="buttons">
    <app-button
      *ngFor="let button of buttons"
      [btnName]="button.name"
      [formula] = "button.formula"
      [num1]="inputs[0].value"
      [num2]="inputs[1].value"
      (onCalculate)="handleResult($event)"
    ></app-button>
  </div>
  <div class="result">
    <!-- <h2>Result👇</h2> -->
    <!-- <p>{{result}}</p> -->
  </div>

</div>
